
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.header {
    position: fixed;
    display: flex; 
    align-items: center;
    flex-direction: row;
    justify-content: space-between; 
    background-color: #150358;
    color: white;
    padding: 10px 20px;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 120px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}


.titulo {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin-left: 150px;
}


.logout-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    width: 100px;
    margin-right: 100px;
}

.logout-btn:hover {
    background-color: darkred;
}


.container {
    margin-top:150px; 
    text-align: center; 
}

img{
    width: 140px;
    height: 140px;
    margin-left: 100px;
}

.botoesCliente {
    margin-right: 100px;
    

    button {
        cursor: pointer;
        padding: 8px;
        border: none;
        border-radius: 5px;
        font-size: 12px;
    }

    button:visited {
        color: black;
    }

    button:hover {
        background-color: rgb(9, 9, 69);
        color: white;
    }


}

footer {
    background-color: #150358;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.footer-info {
    flex: 1;
    min-width: 300px;
}

.footer-info h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.footer-info p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-bottom {
    border-top: 1px solid #ffffff55;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}
